$primary-color: #007bff;
$primary-color-hover: #0056b3;
$black-color: #18191b;
$background-color: #f0f2f5;
$white-color: #ffffff;

$primary-font: "Poppins", sans-serif;
$border-radius: 5px;
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
